<!DOCTYPE html>
<html>

<head>
  <title>AngularJS Example - Single Timer Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script>
    function ExampleCtrl($scope, $timeout) {
      var countDowner, countDown = 5, isPause = false;
      countDowner = function() {
if(!isPause){
        if (countDown < 0) {
        //  $("#warning").fadeOut(2000);
          countDown = 0;
          return; // quit
        } else {
          $scope.countDown_text = countDown; // update scope
          $scope.msg = secondsToHms(countDown);
          countDown--; // -1

          $timeout(countDowner, 1000); // loop it again
        }}
      };

      $scope.countDown_text = countDown;
      $scope.msg = secondsToHms(countDown);
        $scope.initTime = countDown ;
        $scope.isPause = isPause;

      $scope.addTime = function (){
        countDown = 60 * $scope.enteredTime ;
        $scope.initTime = countDown ;
        countDowner();
      };
      $scope.pause = function(){
          isPause = !isPause;
          $scope.isPause = isPause;
          countDowner();
      };
    }
    function secondsToHms(d) {
      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor(d % 3600 / 60);
      var s = Math.floor(d % 3600 % 60);
      return (
        (h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s
      );
    }

  </script>
</head>

<body>
  <div ng-app ng-controller="ExampleCtrl">

    <div ng-show="countDown_text > 0">Your password is expired in {{initTime}} Seconds. Pause  {{isPause}}</div>
    <div ng-show="countDown_text > 0">Seconds left {{countDown_text}} {{msg}}</div>
    <div ng-show="countDown_text == 0">Your password is expired!.</div>
    <form >
      <input type="number" ng-model="enteredTime">
      <input ng-click="addTime()"type="submit" value="Run">
      <input ng-click="pause()" type="submit" value="Pause">
    </form>

  </div>
</body>

</html>
